modules = ["nodejs-20", "web", "java-graalvm22.3"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33205
externalPort = 3000

[[ports]]
localPort = 35419
externalPort = 3002

[[ports]]
localPort = 45715
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
SUPABASE_URL = "https://ynahfciaixjjgzbbmjuf.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InluYWhmY2lhaXhqamd6YmJtanVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwNjg1NTMsImV4cCI6MjA4MDY0NDU1M30.ORS6iroFT-A2TuMU9TZyCMuuSZBieTDKeivIjlixjMI"
